@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f1f5f8;
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Mulish', sans-serif;
}

.correct {
    background-color: #59b759 !important;
    color: white;
    transition: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;

}

.incorrect {
    background-color: #f54242;
    color: white;
    transition: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.disabelPointer {
    pointer-events: none;
}


.incorrect:hover {
    background-color: red !important;
}